<!DOCTYPE html>
<html ng-app="EmployeeApp">
<head>
    <meta charset="utf-8" />
    <title>Employee Application</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js"></script>
    <script src="Scripts/EmployeeApp_Script.js"></script>
</head>
<body ng-controller="EmployeeController">
    <br/>
      <div>
          <label>Search : <input type="text" ng-model="SearchText"/> </label>
      </div>
    <br/>
    <div>
        <label>Order By : <input type="text" ng-model="OrderByColumn" /> </label>
    </div>
    <br />
    <div>
        <h2>
            Employee Details
        </h2>
    </div>
    <br />
    <table>
        <thead>
            <tr>
                <th>Employee Id</th>
                <th>Employee Name</th>
                <th>Employee Location</th>
                <th>Employee Salary</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="emp in empList | filter : SearchText | orderBy : OrderByColumn ">
                <td>{{emp.Id}}</td>
                <!--<td>{{emp.Name}}</td>-->
                <td>{{emp.Name | uppercase }}</td>
                <td>{{emp.Location | lowercase}}</td>
                <td>{{emp.Salary | currency : '₹'}}</td>
            </tr>
        </tbody>
    </table>
    <br />
    <div>
        <label>
            Roles :
            <select ng-model="SelectedRoles" ng-options="r for r in RolesList">
                <option value="">-----Select-----</option>
            </select>
        </label>
        <button ng-click="OnRolesClick()">
            Click
        </button>
    </div>
    <br />
    <p>
        <label>
            Employee Deatils :
            <select ng-model="SelectedEmployee" ng-options="e.Name for e in empList">
                <option value="">------Select---------</option>
            </select>
            <button ng-click="OnEmployeeClick()">Click</button>
        </label>
    </p>
    <br />
    <p>
        <label>
            Employee Deatils :
            <select ng-model="SelectedEmployee1" ng-options="e.Name as e.Id for e in empList">  <!-- important e.location (is value) and e.name (is key) so change the value to get the desired result. -->
                <option value="">------Select---------</option>
            </select>
            <button ng-click="OnEmployeeClick1()">Click</button>
        </label>
    </p>
    <br />
    <p>
        <ol>
            <li>If you need a specific currency in the search of angular specify it. otherwise make it simple .</li>
        </ol>
    </p>
</body>
</html>